[build]
  base = "frontend"
  command = "npm run build"
  publish = "dist"

[context.production.environment]
  # Pointing to the Render Backend
  VITE_API_URL = "https://appsms-076a.onrender.com/api"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
