-- ========================================================
-- MIGRATION: 078_progress_report_extension
-- DESCRIPTION: Support for Advanced PROGRESS REPORT capturing.
-- ========================================================

BEGIN;

-- 1. EXTEND student_result_summaries (Operational Entry)
ALTER TABLE public.student_result_summaries
ADD COLUMN IF NOT EXISTS scholastic_components JSONB DEFAULT '{}'::JSONB,
ADD COLUMN IF NOT EXISTS co_scholastic JSONB DEFAULT '{}'::JSONB,
ADD COLUMN IF NOT EXISTS attendance_snapshot JSONB DEFAULT '{}'::JSONB,
ADD COLUMN IF NOT EXISTS promotion_status TEXT,
ADD COLUMN IF NOT EXISTS teacher_remarks TEXT;

-- 2. EXTEND exam_result_versions (Snapshot Persistence)
-- Note: These are additive to the unified snapshot structure defined in 077.
-- But we add them as explicit columns for easier querying if needed outside JSONB.
ALTER TABLE public.exam_result_versions
ADD COLUMN IF NOT EXISTS scholastic_components JSONB,
ADD COLUMN IF NOT EXISTS co_scholastic JSONB,
ADD COLUMN IF NOT EXISTS attendance_snapshot JSONB,
ADD COLUMN IF NOT EXISTS promotion_status TEXT,
ADD COLUMN IF NOT EXISTS teacher_remarks TEXT;

-- 3. ENHANCED RESULT PUBLISH RPC
CREATE OR REPLACE FUNCTION public.fn_publish_exam_results(
    p_exam_id UUID,
    p_user_id UUID
) RETURNS VOID AS $$
DECLARE
    v_school_id UUID;
    v_version INTEGER;
    v_snapshot JSONB;
BEGIN
    -- A. Validate and Get Context
    SELECT school_id INTO v_school_id FROM public.exams WHERE id = p_exam_id;
    
    IF NOT FOUND THEN
        RAISE EXCEPTION 'EXAM_NOT_FOUND';
    END IF;

    -- B. RUN RANK ENGINE (From Phase 17)
    PERFORM public.fn_calculate_exam_ranks(p_exam_id);

    -- C. CAPTURE VERSION
    SELECT COALESCE(MAX(version_number), 0) + 1 INTO v_version
    FROM public.exam_result_versions
    WHERE exam_id = p_exam_id;

    -- Create a unified snapshot including all Phase 17 + Phase 18 data
    SELECT jsonb_build_object(
        'metadata', jsonb_build_object(
            'exam_id', p_exam_id,
            'version', v_version,
            'published_at', NOW(),
            'published_by', p_user_id
        ),
        'summaries', (
            SELECT jsonb_agg(row_to_json(srs))
            FROM (
                SELECT 
                    srs.*, 
                    s.full_name, 
                    s.student_code,
                    s.dob,
                    adm.father_name,
                    adm.mother_name,
                    (SELECT name FROM public.classes WHERE id = s.class_id) as class_name,
                    (SELECT name FROM public.sections WHERE id = s.section_id) as section_name
                FROM public.student_result_summaries srs
                JOIN public.students s ON srs.student_id = s.id
                LEFT JOIN public.admissions adm ON s.admission_id = adm.id
                WHERE srs.exam_id = p_exam_id
            ) srs
        ),
        'marks', (
            SELECT jsonb_agg(row_to_json(m))
            FROM (
                SELECT m.*, sub.name as subject_name, sub.code as subject_code
                FROM public.marks m
                JOIN public.subjects sub ON m.subject_id = sub.id
                WHERE m.exam_id = p_exam_id
            ) m
        )
    ) INTO v_snapshot;

    -- Standard Snapshot Insert
    INSERT INTO public.exam_result_versions (
        exam_id, 
        version_number, 
        snapshot, 
        revised_by
    )
    VALUES (
        p_exam_id, 
        v_version, 
        v_snapshot, 
        p_user_id
    );

    -- D. Update Exam Status
    UPDATE public.exams 
    SET result_status = 'PUBLISHED',
        status = 'COMPLETED',
        updated_at = NOW()
    WHERE id = p_exam_id;

    -- E. Log
    INSERT INTO public.academic_automation_logs (school_id, action, details, performed_by)
    VALUES (
        v_school_id, 
        'RESULTS_PUBLISHED', 
        jsonb_build_object('exam_id', p_exam_id, 'version', v_version, 'engine', 'PHASE_18_PROGRESS_REPORT'), 
        p_user_id
    );

END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

COMMIT;
