-- ========================================================
-- MIGRATION: 077_result_hardening
-- DESCRIPTION: Score Validation, Rank Engine, and Publication Hardening.
-- ========================================================

BEGIN;

-- 1. SCHEMA ENHANCEMENT
ALTER TABLE public.student_result_summaries 
ADD COLUMN IF NOT EXISTS rank INTEGER,
ADD COLUMN IF NOT EXISTS total_marks NUMERIC(10,2);

-- 2. SCORE VALIDATION TRIGGER
CREATE OR REPLACE FUNCTION public.fn_validate_marks()
RETURNS TRIGGER AS $$
DECLARE
    v_max_marks NUMERIC;
BEGIN
    -- Get max marks from schedule (source of truth for operational exam)
    SELECT max_marks INTO v_max_marks
    FROM public.exam_schedules
    WHERE exam_id = NEW.exam_id AND subject_id = NEW.subject_id;

    IF NOT FOUND THEN
        RAISE EXCEPTION 'EXAM_SCHEDULE_NOT_FOUND: No schedule found for exam % and subject %', NEW.exam_id, NEW.subject_id;
    END IF;

    -- Range Check
    IF NEW.marks_obtained < 0 THEN
        RAISE EXCEPTION 'INVALID_MARKS: Marks cannot be negative.';
    END IF;

    IF NEW.marks_obtained > v_max_marks THEN
        RAISE EXCEPTION 'INVALID_MARKS: Marks (%) exceeds maximum allowed (%) for this subject.', NEW.marks_obtained, v_max_marks;
    END IF;

    -- Precision Check (Max 2 decimals)
    IF NEW.marks_obtained != ROUND(NEW.marks_obtained, 2) THEN
        RAISE EXCEPTION 'INVALID_PRECISION: Marks obtained must have at most 2 decimal places.';
    END IF;

    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

DROP TRIGGER IF EXISTS trg_validate_marks_range ON public.marks;
CREATE TRIGGER trg_validate_marks_range
BEFORE INSERT OR UPDATE ON public.marks
FOR EACH ROW EXECUTE FUNCTION public.fn_validate_marks();

-- 3. RANK ENGINE RPC
CREATE OR REPLACE FUNCTION public.fn_calculate_exam_ranks(p_exam_id UUID)
RETURNS VOID AS $$
DECLARE
    v_school_id UUID;
BEGIN
    -- 1. Get School ID
    SELECT school_id INTO v_school_id FROM public.exams WHERE id = p_exam_id;

    -- 2. Update ranks in student_result_summaries
    WITH student_ranks AS (
        SELECT 
            srs.student_id,
            DENSE_RANK() OVER (
                PARTITION BY srs.exam_id
                ORDER BY srs.total_obtained DESC, srs.percentage DESC, s.student_code ASC
            ) as calculated_rank
        FROM public.student_result_summaries srs
        JOIN public.students s ON srs.student_id = s.id
        WHERE srs.exam_id = p_exam_id
    )
    UPDATE public.student_result_summaries srs
    SET rank = sr.calculated_rank
    FROM student_ranks sr
    WHERE srs.student_id = sr.student_id
    AND srs.exam_id = p_exam_id;

    -- 3. Log Audit Trail
    INSERT INTO public.academic_automation_logs (school_id, action, details)
    VALUES (v_school_id, 'RANKS_CALCULATED', jsonb_build_object('exam_id', p_exam_id));

END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

-- 4. UPDATED RESULT PUBLISH RPC
CREATE OR REPLACE FUNCTION public.fn_publish_exam_results(
    p_exam_id UUID,
    p_user_id UUID
) RETURNS VOID AS $$
DECLARE
    v_school_id UUID;
    v_version INTEGER;
    v_snapshot JSONB;
BEGIN
    -- A. Validate and Get Context
    SELECT school_id INTO v_school_id FROM public.exams WHERE id = p_exam_id;
    
    IF NOT FOUND THEN
        RAISE EXCEPTION 'EXAM_NOT_FOUND';
    END IF;

    -- B. RUN RANK ENGINE
    PERFORM public.fn_calculate_exam_ranks(p_exam_id);

    -- C. CAPTURE VERSION
    SELECT COALESCE(MAX(version_number), 0) + 1 INTO v_version
    FROM public.exam_result_versions
    WHERE exam_id = p_exam_id;

    -- Create a unified snapshot including summaries with ranks and individual marks
    SELECT jsonb_build_object(
        'metadata', jsonb_build_object(
            'exam_id', p_exam_id,
            'version', v_version,
            'published_at', NOW(),
            'published_by', p_user_id
        ),
        'summaries', (
            SELECT jsonb_agg(row_to_json(srs))
            FROM (
                SELECT srs.*, s.full_name, s.student_code 
                FROM public.student_result_summaries srs
                JOIN public.students s ON srs.student_id = s.id
                WHERE srs.exam_id = p_exam_id
            ) srs
        ),
        'marks', (
            SELECT jsonb_agg(row_to_json(m))
            FROM (
                SELECT m.*, sub.name as subject_name, sub.code as subject_code
                FROM public.marks m
                JOIN public.subjects sub ON m.subject_id = sub.id
                WHERE m.exam_id = p_exam_id
            ) m
        )
    ) INTO v_snapshot;

    INSERT INTO public.exam_result_versions (exam_id, version_number, snapshot, revised_by)
    VALUES (p_exam_id, v_version, v_snapshot, p_user_id);

    -- D. Update Status and Finish Exam
    UPDATE public.exams 
    SET result_status = 'PUBLISHED',
        status = 'COMPLETED',
        updated_at = NOW()
    WHERE id = p_exam_id;

    -- E. Log
    INSERT INTO public.academic_automation_logs (school_id, action, details, performed_by)
    VALUES (v_school_id, 'RESULTS_PUBLISHED', jsonb_build_object('exam_id', p_exam_id, 'version', v_version), p_user_id);

END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

-- 5. MARKS IMMUTABILITY LOCK
CREATE OR REPLACE FUNCTION public.fn_enforce_marks_immutability()
RETURNS TRIGGER AS $$
DECLARE
    v_status TEXT;
BEGIN
    SELECT status INTO v_status FROM public.exams WHERE id = OLD.exam_id;
    
    IF v_status = 'COMPLETED' THEN
        RAISE EXCEPTION 'EXAM_COMPLETED: Cannot modify marks for a finalized exam.';
    END IF;
    
    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

DROP TRIGGER IF EXISTS trg_marks_immutability ON public.marks;
CREATE TRIGGER trg_marks_immutability
BEFORE UPDATE OR DELETE ON public.marks
FOR EACH ROW EXECUTE FUNCTION public.fn_enforce_marks_immutability();

COMMIT;
